template(name='newVerse')
  form.form#new-verse-form
    .col-md-12.form-group
      textarea#text.form-control.verse-textarea(name='text' placeholder='Spill it')
    .col-md-12.text-center
      button.btn.btn-primary(type="submit") Send