template(name='newMessage')
  form.form
    .form-group
      textarea#text.form-control.message-textarea(name='text' placeholder='Say something nice!')
      input.btn.btn-primary(type="submit" value="Submit" class="btn btn-primary")