template(name='admin')
  .row
    h1 This is the admin page.  I should put stuff here.
  .row
    .col-md-4
      h3 Dimple chart of signups
      #signups-dimple-chart
    .col-md-4
      h3 Average time on site
      #time-on-site-dimple-chart
    .col-md-4
      h3 Dimple chart of on-site shares
      #shares-dimple-chart