template(name="chapterItem")
  .row
    .col-md-6.col-md-offset-3.pad-top-md
      +starterItem starter
  each verses
    .row
      .col-md-6.col-md-offset-3.pad-top-md
        +verseItem
  if shouldDisplayNewVerseForm
    .row
      .col-md-6.col-md-offset-3.pad-top-md
        +newVerse