template(name="verseItem")
  .col-md-12
    .well
      if verseBelongsToUser
        p.text-center.text-muted
          i.fa.fa-user.fa-4x.user-verse-icon
          =text
      else
        p
          =text
          if authorIsMale
            i.fa.fa-male.fa-4x.male-verse-icon.pull-right
          else
            i.fa.fa-female.fa-4x.female-verse-icon.pull-right

