template(name="conversation")
  .conversation.pad-top-xl
    .row
      .col-md-12.text-center
        small
          a(href="#") Show older messages
    each verses
      .row
        +verseItem
    .row
      +newVerse