template(name="newConversation")
  .col-md-12
    .col-md-6.col-md-offset-3
      p.text-center.text-muted Happy {{dayOfWeek}}
      p.lead.text-center 
        | To start chatting, write your conversation starter or use one of ours
    form.col-md-6.col-md-offset-3
      textarea.form-control.new-conversation-text-area.new-conversation-trigger(placeholder="What would you love to talk about right now?" rows='4')

  .row
    .col-md-1.conversation-starter-row
      if shouldShowPrevChevron
        i.fa.fa-chevron-left.fa-4x.conversation-starter-chevron.prev-starters-trigger
    .col-md-10.conversation-starter-row
      each currentConversationStarters
        .col-md-3
          +conversationStarter
    .col-md-1.conversation-starter-row
      if shouldShowNextChevron
        i.fa.fa-chevron-right.fa-4x.conversation-starter-chevron.next-starters-trigger
      //- .col-md-6.text-center
      //-   .conversation-starter-circle.guardians-circle
      //-     p 
      //- .col-md-6.text-center
      //-   .conversation-starter-circle.dreamers-circle
      //-     p Is it better to be happy or to understand the infinite nature of human experience?
      //- .col-md-6.text-center
      //-   .conversation-starter-circle.explorers-circle
      //-     p What's the best travel experience you've ever had?
      //- .col-md-6.text-center
      //-   .conversation-starter-circle.analysts-circle
      //-     p Is capitalism merely a form of indentured servitude? If so, what might be a better system?