template(name="startConversation")
  .col-md-8.col-md-offset-2
    .col-md-12
      p.text-center.text-muted Happy {{dayOfWeek}}
      p.lead.text-center 
        | To start meeting new people, choose your conversation starter or use one of ours
    form.col-md-12
      textarea.form-control.new-conversation-trigger(placeholder="What would you love to talk about right now?")
    .col-md-12
    .col-md-12
      each featuredConversationStarters
        .col-md-3(class="conversation-starter {{typology}}-conversation-starter")
            h3.conversation-starter-heading.text-center {{topic}}
            p.text-muted.conversation-starter-text.text-center= text
    //- .col-md-6.text-center
    //-   .conversation-starter-circle.guardians-circle
    //-     p 
    //- .col-md-6.text-center
    //-   .conversation-starter-circle.dreamers-circle
    //-     p Is it better to be happy or to understand the infinite nature of human experience?
    //- .col-md-6.text-center
    //-   .conversation-starter-circle.explorers-circle
    //-     p What's the best travel experience you've ever had?
    //- .col-md-6.text-center
    //-   .conversation-starter-circle.analysts-circle
    //-     p Is capitalism merely a form of indentured servitude? If so, what might be a better system?