
template(name="index")
  .row.header
    .col-md-5.col-md-offset-1
      h1.logo-text.index-logo {{appName}}
      p.lead.index-tagline
        | Chat with nearby people about topics you're both into.
        br
        br
        | Reveal your identity only if you choose to.
        br
        br
        | Meet new people similar to yourself!
      +loginButtons
    .col-md-4
      p Put image here